.wrapper {
  border: 5px solid black;
  position: absolute;
}

.labelContainer {
  border: 1px solid black;
}

.label {
  color: green;
  font-weight: bold;
}

.moveHandle {
  color: black;
}
.resizeHandle {
  color: black;
}
