.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.link {
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
  &:first-of-type {
    margin-bottom: 10px;
  }
  font-size: 2em;
  color: black;
  text-decoration: underline;
}
